<div class="container m-3">
  <h1 class="mb-3"><%= @list.name %></h1>

  <div class="mb-3 d-flex">
    <% @movies.each do |m| %>
      <div class="card mb-3">
        <p class="mb-3"><%= m.title %></p>
        <p class="mb-3"><%= image_tag(m.poster_url, height: "400px", loading: "lazy") %></p>
        <p class="mb-3"><%= m.overview %></p>
        <p class="mb-3"><%= m.rating %></p>
        <p class="mb-3">
          <%= link_to "Delete from list", list_bookmark_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        </p>
      </div>
    <% end %>
  </div>
  <p class="mb-3">
    <%= link_to "Add movie", new_list_bookmark_path(@list) %>
  </p>
  <p class="mb-3">
    <%= link_to "Back to list index", lists_path %>
  </p>
</div>
