<div class="container m-3">
  <h1 class="mb-3">Add a movie to list: <%= @list.name%> </h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>
